<form action="router1.php" method="get">
    <input type="hidden" name='action' value='rechercheResidence'>
    <div class="form-group">
        <label for="nom">Nom de la résidence : </label>
        <input type="text" name='nom' class="form-control" style="width: 40%" />
    </div>
    <div class="form-group">
        <label for="lieu">Lieu de la résidence : </label>
        <input type="text" name='lieu' class="form-control" style="width: 40%" />
    </div>
    <div class="form-group">
        <label for="prix-min">Prix minimum : </label>
        <input type="number" name='prix-min' class="form-control" style="width: 40%" />
    </div>
    <div class="form-group">
        <label for="prix-max">Prix maximum : </label>
        <input type="number" name='prix-max' class="form-control" style="width: 40%" />
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
</form>